.topb-main{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #000000 20%, #4d4d4d); 
    color: whitesmoke;
}

.topb-container{
    width: 100%;
    height: 97%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.top-heading-l{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
}
.top-heading-l h1{
    font-size: 4rem;
    width: 150%;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.top-heading-l p{
    margin-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 24px;
    width: 120%;
    font-size: 1rem;
}
.btn{
    width: fit-content;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: 40px;
    outline: none;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    border-bottom: 5px solid #531d23;
    border-right: 1px solid #531d23;
    background: linear-gradient(to right, #B96279, #F23042);
}
.top-heading-r{
    width: 60%;
    height: 100%;
    background-image: url(/src/images/redai.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    margin-top: -80px;
    /* background-color: antiquewhite; */
}
.top-heading-r img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}